# Ignore node_modules in both frontend and server directories
blogging webiste - frontend/node_modules/
server/node_modules/

# Ignore .env files in both frontend and server directories
blogging webiste - frontend/.env
server/.env
